html, body {
    padding: 0;
    height:100%;
    font-family: sans-serif;
}

.logo {
    color:#121c7e;
    font-size: 3em;
    font-family: 'Orbitron', sans-serif;
}
.logo:hover {
    text-decoration: none;
    color:#121c7e;
}

article em {
    font-weight: bold;
}

h2, h3, h4, h5 {
    color:#121c7e;
}

#toc {
    font-size: 1.5em;
}
#toc em{
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;/* */
}



