html, body {
    padding: 0;
    height:100%;
    font-family: sans-serif;
}

.logo {
    color:#121c7e;
    font-size: 3em;
    font-family: 'Orbitron', sans-serif;
}
.logo:hover {
    text-decoration: none;
    color:#121c7e;
}

article em {
    font-weight: bold;
}

h2, h3, h4, h5 {
    color:#121c7e;
}

#toc {
    font-size: 1em;
}
#toc .h1 {
    text-indent: .25in;
}
#toc .h2 {
    text-indent: .5in;
}
#toc .h3 {
    text-indent: .75in;
}
#toc .h4 {
    text-indent: 1in;
}
#toc .h5 {
    text-indent: 1.25in;
}
#toc .h6 {
    text-indent: 1.5in;
}

